Lecture Notes document #2:  <span style="font-size:larger;color:blue">**Introduction to Python Programming, Part I**</span>

This document was developed as part of a collection to support open-inquiry physical science experiments in Bachelor's level lab courses.  

<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.  Everyone is free to reuse or adapt the materials under the conditions that they give appropriate attribution, do not use them nor derivatives of them for commercial purposes, and that any distributed or re-published adaptations are given the same Creative Commons License.

A list of contributors can be found in the Acknowledgements section.  Forrest Bradbury (https://orcid.org/0000-0001-8412-4091) of Amsterdam University College is responsible for this material and can be reached by email:  forrestbradbury ("AT") gmail.com
******

This is the first Jupyter Notebook document in a series of four which serve as a brief introduction to programming in <span style="font-size:larger;color:brown">**Python**</span>.  

<span style="color:red">**This material is not intended to substitute a good introductory programming course, but rather gives an overview of Python coding tricks that might be encountered in and utilized for data analysis methods.**</span>

><span style="font-size:larger;color:brown">**Outline of Part I.**</span>
>
>
>- Introduction
>
>
>- Basic types:  `int`s, `float`s, (arithmetic operators), logical `bool`eans, and `str`ings
>
>
>- Statements:  Variable assignments, `print()`, and printing out signficant figures of a `float` 
>
>
>- Getting help
>
>
>- Acknowledgements
>
>
>****************
>
>(please read and work through these Jupyter Notebook lecture notes to learn some useful programming tricks and note that recommended exercises are flagged below with:  <span style="font-size:larger;color:orange">**"EXERCISE"**</span> )
>
>****************

# Introduction

After learning how to use Jupyter Notebook and the Markdown text cells, it is time to learn to use the Python cells and do some programming (and eventually data processing)!  

If you need a reminder about creating, editing, or running cells in Jupyter Notebook, please refer to the earlier lecture note file:  [LN1_JupyterNotebook-and-Markdown](LN1_JupyterNotebook-and-Markdown.ipynb)

# Basic types and values

*NOTE: In programming, the word "data" is used differently than in empirical science.  In an experiment, "data" are the measurement values that are collected.  But, in programming, "data" just mean chunks of information - and we realize that even computers can be built to understand many types of information.*

- Chunks of data that your program works with are called *values*, or *objects*.

- Every value has a *type*.

All programming languages make available a number of built in data types, such as integers and floating point numbers, strings for textual data, and booleans for logical operations. Additionally, many languages, including Python, allow the programmer to introduce additional types that are built from values of the built in types.

For every type, there have to be one or more ways to *create* (or *construct*) values of that type, and operations supported by values of those types.

You can always check what the type of a value is by evaluating `type(<value>)`.

In [1]:
type(5)

int

## Numbers: `int` and `float`

There are two built-in types of **numeric data** in Python: `int` and `float`.

An `int` is an integer number. It can be positive or negative. A specific integer can be constructed with a literal expression, which consists of a sequence of digits:

In [2]:
42

42

In [3]:
type(42)

int

Note that when we evaluate a cell in a Jupyter notebook, the last value produced in the cell is the only one reported as output. Use print statements if you want multiple lines of output.

In [10]:
-3298234293472398572937423984205320751098750293753498067906

-3298234293472398572937423984205320751098750293753498067906

A `float` is a "floating point number", that is, a rough approximation of a real number. Like integers, they can be constructed simply by typing them in; Python will recognise them by the appearance of a decimal point:

In [11]:
3.354353

3.354353

In [12]:
4.0

4.0

In [13]:
type(4.0)

float

You can also construct floating point numbers using scientific notation.

In [14]:
12.4e5

1240000.0

Floating point numbers are represented in the computer in the form similar to scientific notation: it is stored as a combination of a number between 1 and 2, and a separate exponent. The number has a limited precision (of about 15 decimals), and the exponent can range from about -300 to +300.

So it's possible to store a very tiny, or a very large number by using a small or a large exponent, but if you add a very tiny number to a very large number, the result will need to use the large exponent, so precision will be lost.

In [15]:
# how many digits will be retained?
0.012345678901234567890123456789

0.012345678901234568

In [16]:
# so a billionth should fit easily, let's check:
1e-9

1e-09

In [17]:
1e-500

0.0

In [18]:
# precision loss:
# the sum of the large and the small value cannot be
# represented well. The small bit just ends up getting lost.
(1e9+1e-9)-1e9

0.0

To explicity construct a value of a specific type, you can use one of Python's builtin *type constructors*, which are functions with the same name as the type. This is often convenient to convert between one type and another.

In [19]:
# construct an integer and initialise with value 3 (same as just typing 3)
int(3.0)

3

In [20]:
# construct a floating point value -1.9 and convert to integer
# note: converting to int always rounds towards 0.
int(-1.9)

-1

In [21]:
int(1.6+0.5)

2

In [22]:
# construct an int value (using an int literal) and convert it to float
float(2)

2.0

## Arithmetic operators

We've already seen that floating point numbers can be added and subtracted. Python supports a bunch of arithmetic operators. Usually these can be used with both `int` and `float` numbers, and even with combinations of the two. The rules for whether the result is `int` or `float` are a bit complicated. A rule of thumb is that if an operation with values of that type *might* not yield an integer, then the result will be `float`. Here are some examples:

- Addition (`+`), subtraction (`-`) and multiplication (`*`) of two integers always yields an `int`.

In [23]:
3+5

8

- Addition (+), subtraction (-) and multiplicaton of an `int` and a `float`, or of two `float`s, yields a `float`, *even if the floats represent an integer value*.

In [24]:
3+1.0

4.0

- When you divide two integers, the result may not be integer. So in Python3, the result of division is *always* float! (If it is not, you are accidentally using Python2.)

In [25]:
8/4

2.0

- There is a separate operator `//` specifically for division when you want an integer result. It always rounds the result down.

In [1]:
13/3

4.333333333333333

In [26]:
13//3

4

In [27]:
# Huh! The rounding is different from the rounding we saw with the int type constructor?!
int(13/3)

4

- Use `%` to get the remainder after integer division.

In [28]:
-13%3

2

- Exponentiate using `**`. The result of `a**b` is `int` if `a` and `b` are both `int` and `b >= 0`.

In [29]:
2**4

16

In [30]:
2**-4

0.0625

- You can also use `+` and `-` with only a single number:

In [31]:
-(2+2)

-4

**Precedence**

Operators are executed in order of *precedence*. Operators with a higher precedence are evaluated first. Here is a table:

| precedence     |
| -------------- |
| `**`           |
| `+x`, `-x`     |
| `*`, `//`, `%` |
| `-`, `+`       |

- *Example:* multiplication before addition:

In [32]:
3+4*5

23

- *Example:* single number `+x` and `-x` are applied *after* exponentiation:

In [33]:
-2**4

-16

- *Rule:* as in mathematics, most operations with the same precedence are executed from left to right...

In [34]:
3-3-3

-3

- Except for exponentiation, which is right-to-left:

In [35]:
2**2**3

256

In [36]:
(2**2)**3

64

- The last example shows that we can change the order of evaluation of an expression by using parentheses.

In [37]:
1-(2-3)

2

***************
<span style="font-size:larger;color:orange">**EXERCISE:**</span>

- A random number generator generates 23957 one moment, and increases it to 32173 the next. By what percentage did the number increase?
- How can we round the percentage down to a whole number? How could we round it to the nearest whole number?
***************

## Logical values: `bool`

A boolean is a very simple type of data which is a value that can be only two things: `True` or `False`. These are also the literal expressions used to create booleans:

In [40]:
4 = 4
#to check if 2 things are equal, use ==, = is for variable assignment.

SyntaxError: can't assign to literal (<ipython-input-40-7e4eb7bde9d4>, line 1)

In [20]:
4 == 4

True

In [19]:
True

True

Booleans are values that pop up in a lot of tests and comparisons:

In [42]:
1+2 == 3 # Important: use two equals signs!

True

In [43]:
3 >= 4

False

In [44]:
3 == 3.0 # Careful: it is generally dangerous to test floats for equality

True

In fact, you can chain equalities and inequalities:

In [45]:
2<3<=3<4==4>3<5

True

(Generally it's best practice to not use `>` and `>=` in chained inequalities.)

There are also operations `and` to check if both of two boolean values are true, and `or` to check if at least one is true.

In [46]:
2>3 or 2<3

True

In [47]:
2>3 and 2<3

False

Finally, you can invert the truth value of a boolean using `not`:

In [48]:
not True

False

Sometimes, it's convenient to, say, count the number of true values in a list. For this reason, **Python allows the values `True` and `False` in arithmetic operations, where they will be interpreted as the integers `1` and `0`, respectively.**

In [4]:
True + True + 3

5

In [50]:
False * True

0

In [51]:
True / False

ZeroDivisionError: division by zero

## Strings: `str`

A string is a data type which is a sequence of characters: all letters, numbers, and symbols that can occur in text. Like numbers, strings can be constructed in Python using literal expressions, by enclosing the literal character string by either single quotes or double quotes. It doesn't matter which you use, but using the one allows you to use the other conveniently within the character string.

In [52]:
"boo"

'boo'

In [53]:
"It's convenient to use double quotes here, because the string contains a single quote."

"It's convenient to use double quotes here, because the string contains a single quote."

In [7]:
'"On the other hand," the lecturer said, "sometimes the other thing is more convenient."'

'"On the other hand," the lecturer said, "sometimes the other thing is more convenient."'

And, to confirm that it prints out as we expected, we can use Python's print function (which is properly introduced later in this Notebook):

In [6]:
print('"On the other hand," the lecturer said, "sometimes the other thing is more convenient."')

"On the other hand," the lecturer said, "sometimes the other thing is more convenient."

If your string uses both single and double quotes, you can mark a symbol as part of the string rather than as a closing quote, by using the escape symbol `\`. Backslashes themselves also require a backslash to use in a string literal.

In [17]:
print("It's good! Say, \"Yay!\" \\_O_/")

It's good! Say, "Yay!" \_O_/

As with numbers, you can use the string constructor function to explicitly construct a string, potentially converting from other types like numbers:

In [57]:
str(3.14159265)

'3.14159265'

Strings support many useful functions and operations. The ones you'll need most commonly are:

- Find their length using `len`:

In [58]:
len("Life, the universe, and bloody everything!")

42

- Concatenate using `+`:

In [59]:
"bla"+"bla"

'blabla'

- Extracting a specific letter, by giving the index of the letter in brackets. The index of the first letter is 0:

In [60]:
"blabla"[0]

'b'

- Extracting a substring, by giving the index of the first letter, and the index ***just beyond*** the last one. (Python is always right-exclusive: the right index is not included in the range.)

In [10]:
"blabla"[1:4]   #this should extract the string's index components 1, 2 & 3 - and thus not 4

'lab'

- You can also go through the string in steps that are not equal to one:

In [63]:
"0123456789"[9::-1]

'9876543210'

- Testing whether a substring is in a string using `in`:

In [64]:
"lab" in "blabla"

True

In [65]:
"bab" in "blabla"

False

- Counting how often a substring occurs, with `count`. (Note the weird syntax; this is another way to call functions on an object in Python, we will discuss it later.)

In [66]:
"blabla".count("la")

2

- Finding the index of a substring:

In [67]:
"blabla".index("lab")

1

In [68]:
"blabla".index("boo")

ValueError: substring not found

In [69]:
"boo" in "blabla"

False

# Statements and side effects

Python is an *imperative* language. That means that, in addition to expressions, Python programs also contain *statements* that are executed not to obtain their value, but for some other effect they have on the state of the system.

Statements can be meaningful even if they don't produce a value, and so sometimes it is useful to execute several statements in order. Python executes its program from top to bottom, each statement in turn.

Today we'll look at two kinds of statements: variable assignments and print statements.

## Variable assignments

Variables allow us to keep references to values, so that they can be accessed later on. A variable has a *name* and a reference to a *value*, and as we've seen before, those values have a *type*.

The name can contain letters, digits, and underscores, but it cannot *start* with a digit. So `Hello_31` is a valid variable name, but `31_Hello` is not. It is customary to start variable names with a lower case letter.

In some programming languages, the type is associated with the variable itself: a variable of type `int` can only hold values that are `int`. In Python however, the variable has no particular type; the type is only associated with the value. So **any variable can hold a reference to a value of one type at first, and then later it can be changed to refer to a different value, potentially of another type**.

You can assign a value to a variable using the assignment operator `=` like so:

```<varname> = <expression>```

Here, the `<varname>` can be any name that starts with a letter or underscore, followed by a combination of letters, underscores and numbers. The expression is evaluated and bound to the variable. Examples:

In [70]:
ex = "hello"

In [71]:
type(ex)

str

In [72]:
ex

'hello'

In [13]:
ex = 3+4
type(ex)

int

In [14]:
ex

7

**Make sure that you don't confuse the assignment operator `=` with the test for equality `==`. In particular, make sure you test for equality using a double equals sign.**

In [15]:
ex == 4

False

In [16]:
ex = 4

In [17]:
ex

4

In [18]:
ex == 4

True

After assigning a value to a variable, you can use the variable name in the place of the value.

In [78]:
a = "hello"
a[1]

'e'

In [79]:
a + a

'hellohello'

## Print statements

So far we've been typing in all kinds of expressions, and Jupyter reported the value of those expressions back to us, marked by `Out[..]`. This is exactly like Racket's interactions window.

Python has a statement called `print`. It doesn't have a value when you evaluate it as an expression, but it still makes text appear:

In [80]:
print("Hello, world!")

Hello, world!

Note that the result does not appear with `Out[...]` next to it: the statement just did what we told it to do, without yielding any particular value:

In [81]:
val = print("Hello, world!")

Hello, world!

In [82]:
val == "Hello, world!"

False

In [83]:
val == None

True

The builtin function `print` can print values of all kinds of types, not just strings. If you want to print several values, you can just list them with commas in between:

In [84]:
print("Forty-two is", 42)
print("Twelve is", 12)

Forty-two is 42
Twelve is 12

Note that spaces are automatically inserted in between values that are printed, and also, each statement appears on a new line. That behaviour can be changed:

In [1]:
print("Forty-two is", 42, sep=":", end="; ")
print("Twelve is", 12, sep=":")

Forty-two is:42; Twelve is:12

## Printing significant figures

In experimental science, we must also work with **significant figures**.  Python can automatically print out results with a desired number of significant figures or a desired number of decimal places with a special print input string as follows:

In [10]:
## we define variable "PIE" with many significant figures:
PIE = 3.141592653589793

## first we just print the full PIE:
print('PIE has been defined to be:  ', PIE)

## second we print the full PIE in another way:
## the f in front indicates an insertion in the curly brackets {}
print(f'PIE has been defined to be:   {PIE}')  

## third we print PIE to 3 decimal places with {PIE:.3f}
print(f'PIE has been defined to be:   {PIE:.3f}')  

## fourth we print PIE to 3 significant figures with {PIE:.3}
print(f'PIE has been defined to be:   {PIE:.3}')

PIE has been defined to be:   3.141592653589793
PIE has been defined to be:   3.141592653589793
PIE has been defined to be:   3.142
PIE has been defined to be:   3.14

# Getting help

Python has a built-in help function that can provide information about a lot of functions and modules that are built in to the language.

In [86]:
help

Type help() for interactive help, or help(object) for help about object.

Something else that might be useful: https://www.cheatography.com/davechild/cheat-sheets/python/
This contains much of the syntax we used today.

Further reading: A style guide on how to code in python: https://www.python.org/dev/peps/pep-0008/

Lastly, this website covers all python documentation: https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex

# Acknowledgements

This document includes significant material, structure, and inspiration from documents in Professor Gary Steele's "Introduction to Python for Physicists" (https://gitlab.tudelft.nl/python-for-applied-physics/practicum-lecture-notes).

Jan Koetsier is largely to thank for the adaptation and extension of these materials for Maker Lab students.

Questions or suggestions can be sent to Forrest Bradbury (https://orcid.org/0000-0001-8412-4091) :  forrestbradbury ("AT") gmail.com